<header
	class='relative flex flex-wrap sm:justify-start sm:flex-nowrap w-full bg-white text-sm py-3'
>
	<nav
		class='max-w-[85rem] w-full px-4 sm:flex sm:items-center sm:justify-between'
	>
		<div class='flex items-center justify-between'>
			<a
				class='flex-none text-xl font-semibold focus:outline-none focus:opacity-80'
				href='/'
				aria-label='Brand'
			>
				<i class='ri-file-copy-line'></i>
				Microcopy en Español
			</a>
			<span class='mr-2 ml-2'>|</span>
			<span class='text-slate-500'
				>UX Writing, Textos cortos para sitios web</span
			>
		</div>
	</nav>
</header>
