<div class='flex items-center border-gray-300 py-2'>
	<input
		class='bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
		type='search'
		placeholder={'Buscar...'}
		aria-label='Search'
		id='search'
	/>
</div>

<script>
	const search = document.getElementById('search');

	const allCopies = document.getElementsByClassName('copies');

	search?.addEventListener('keyup', e => {
		for (let i = 0; i < allCopies.length; i++) {
			const elements = allCopies[i].getElementsByClassName('copies-text');
			for (let j = 0; j < elements.length; j++) {
				if (
					!elements[j].textContent
						?.toLocaleLowerCase()
						.includes(e.target.value.toLocaleLowerCase())
				) {
					allCopies[i].classList.add('hidden');
				}

				if (e.target.value === '') {
					allCopies[i].classList.remove('hidden');
				}
			}
		}
	});
</script>
